<p style="color: #707070" >in the Basement of the Corner Bar<a style="text-decoration: none; color: #DA0000" href="http://thecornerbar.net" ></a></p>
<a href="http://www.comedycornerunderground.com/post/11132822721/schedule">Schedule</a> • <a href="http://www.comedycornerunderground.com/location">Location</a> • <a style="color: #ffffff" href="http://www.comedycornerunderground.com/post/4638956533/make-reservations">Reservations</a> • <a style="color: #ffffff" href="http://www.comedycornerunderground.com/gallery">Gallery</a> • <a style="color: #ffffff" href="http://blog.comedycornerunderground.com/">Blog</a> • <a href="http://www.comedycornerunderground.com/post/807732156/stay-connected-with-ccu">Links</a>
<h3><br>(612) 492-1197 • Friday Open Mic starts at 10pm • Saturday shows start at 9pm • Unless otherwise noted</h3>